@model IEnumerable<TaskManagementChallenge.Models.ListTaskViewModel>
@using TaskManagementChallenge.Helper;
@{
    ViewData["Title"] = "Home";
}

<h1>Your Tasks</h1>

<p>
    <a asp-action="AddTask" class=" btn btn-primary">Create New</a>
</p>

@{
    if(Model.Count() > 0)
    {
        <table class="table table-bordered table-striped ">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                   
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>Status Update</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>

                            @{
                                if (item.Status == CustomTaskStatus.Completed)
                                {
                                    <a class="btn btn-secondary" asp-action="UpdateTaskStatus" asp-route-id="@item.Id" asp-route-status="@CustomTaskStatus.InProgress">In Progress</a>
                                }
                                if (item.Status == CustomTaskStatus.InComplete)
                                {
                                    <a class="btn btn-secondary" asp-action="UpdateTaskStatus" asp-route-id="@item.Id" asp-route-status="@CustomTaskStatus.Completed">Complete</a> 
                                    <a class="btn btn-secondary" asp-action="UpdateTaskStatus" asp-route-id="@item.Id" asp-route-status="@CustomTaskStatus.InProgress">In Progress</a>
                                }
                                if (item.Status == CustomTaskStatus.Created)
                                {
                                    <a class="btn btn-secondary" asp-action="UpdateTaskStatus" asp-route-id="@item.Id" asp-route-status="@CustomTaskStatus.InProgress">In Progress</a> 
                                    <a class="btn btn-secondary" asp-action="UpdateTaskStatus" asp-route-id="@item.Id" asp-route-status="@CustomTaskStatus.Completed">Complete</a>

                                }
                                if (item.Status == CustomTaskStatus.InProgress)
                                {
                                    <a class="btn btn-secondary" asp-action="UpdateTaskStatus" asp-route-id="@item.Id" asp-route-status="@CustomTaskStatus.Completed">Complete</a> 
                                    <a class="btn btn-secondary" asp-action="UpdateTaskStatus" asp-route-id="@item.Id" asp-route-status="@CustomTaskStatus.InComplete">In Complete</a>
                                }

                            }

                            
                            

                        </td>
                        <td>
                            <a class="btn btn-info" asp-action="UpdateTask" asp-route-id="@item.Id">Edit</a> 
                            <a class="btn btn-danger" asp-action="DeleteTask" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h4>No tasks found</h4>
    }
}
